body {
    background-image: url("../img/queens-gambit-serie-netflix.jpeg");
    background-size: 100vmax;
    background-repeat: no-repeat;
    background-color: rgb(7, 7, 7);
}

#topbar {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0,0,0,0));
}

.brand {
    width: 70px;
    height: auto;
}

.brand2 {
    width: 35px;
}

.nav-link {
    color: white !important;
}

.active a {
    font-weight:bold !important;
}

.inline-block {
    display: inline-block;
}


#featured-content {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media (min-width: 700px) and (orientation: landscape) {
    #featured-content {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.to-left {
    display: flex;
    align-items:center;
}

.main-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 8vw;
    line-height: 7vw;
    color: white;
}

.main-title-2 {
    font-size: 3vw;
    line-height: 2vw;
    color: white;
}

.summary {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: bold;
    color: white;
}

.main-btns {
    margin: 1rem !important;
}

.profile-mini {
    width: 30px;
}

.category {
    display: flex !important;
    justify-content:center !important;
    flex-direction: row;
}

.category-text {
    margin-left: 2rem;
}

.thumbnail img {
   width: 100%;
}

.thumbnail {
    padding: 0px;
    margin: 1rem 0px;
}
