body {
    background-image: url("../img/queens-gambit-serie-netflix.jpeg");
    background-size:contain;
    background-repeat: no-repeat;
    background-color: rgb(7, 7, 7);
}

#topbar {
    background: linear-gradient(to bottom, rgb(7, 7, 7), rgb(0,0,0,0));
}

.brand {
    width: 70px;
    height: auto;
}